/* utilities */
* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: nunito;
  overflow-x: hidden;
}

/* logo */
.navbar-brand {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: xx-large;
}

.navbar {
  overflow: visible;
}

.nav-link {
  font-size: medium;
}

.display-4 {
  font-size: 50px;
  font-weight: bold;
}

/* content */
.content {
  width: 100%;
  background-color: #ddd;
  padding: 4%;
}

.content h1 {
  letter-spacing: 5pt;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: rgb(27, 27, 27);
  color: white;
}

/* CONTACT */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(0, 62, 233);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
}

.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 15%;
  margin-top: 5%;
}

.text {
  text-align: center;
  margin-top: 5%;
}

/* HERO JUMBOTRON */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/depan annur.jpg");
  background-position: center;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 50px;
  letter-spacing: 3pt;
  color: white;
}

.tombol a {
  background-color: teal;
}

.tombol a:hover {
  color: black;
}

.jumbotron a:hover {
  color: black;
}

.jumbotron p {
  font-size: 20px;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.col {
  margin-bottom: 30%;
}

/* open */
.open h1 {
  text-align: center;
  font-family: mada;
}

/* about */
.content-3-1 .btn:focus,
.content-3-1 .btn:active {
  outline: none !important;
}

.content-3-1 {
  padding: 5rem 2rem;
}

.content-3-1 .img-hero {
  width: 100%;
  margin-bottom: 3rem;
}

.content-3-1 .right-column {
  width: 100%;
}

.content-3-1 .right-column h3 {
  margin-bottom: 5%;
}

.content-3-1 .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: -0.025em;
  color: #121212;
}

.content-3-1 .title-caption {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 1.25rem;
  color: #121212;
}

.content-3-1 .circle {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 9999px;
  background-color: teal;
}

.content-3-1 .text-caption {
  font: 400 1rem/1.75rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.content-3-1 .btn-learn {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2.5rem;
  background-color: #ff7c57;
  transition: 0.3s;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.content-3-1 .btn-learn:hover {
  background-color: #ff9779;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .content-3-1 .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
  }
}

@media (min-width: 992px) {
  .content-3-1 .img-hero {
    width: 50%;
    margin-bottom: 0;
  }

  .content-3-1 .right-column {
    width: 50%;
  }

  .content-3-1 .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}

/* footer */
footer {
  background: rgb(0, 85, 85);
  padding-top: 50px;
  padding-bottom: 70px;
}

footer .logo {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #fafafd;
}

footer .social-media {
  margin-top: 30px;
  letter-spacing: 5pt;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  color: black;
  transition: 0.3s ease;
}

footer .copyright {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #fafafd;
  margin-top: 20px;
}

footer .nav-footer p {
  font-weight: 700 !important;
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer .nav-footer a {
  font-weight: 400 !important;
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer li {
  margin-bottom: 16px;
}

header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1,
header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1,
header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1,
  header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1,
  header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}

/* galery */
/* Gallery Section */
.gallery-section {
  width: 100%;
  padding: 60px 0;
  background: #cecece;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
  color: #333;
}

.border {
  width: 200px;
  height: 4px;
  background: rgb(104, 104, 104);
  margin: 30px auto;
}

.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img {
  transform: scale(1.4) rotate(15deg);
}
