
/* utilities */
* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: nunito;
  overflow-x: hidden;
}

/* logo */
.navbar-brand {
  font-family: poppins;
  font-weight: bold;
  font-size: x-large;
}

.navbar {
  overflow: visible;
}

.nav-link {
  font-size: medium;
}

.display-4 {
  font-size: 50px;
  font-weight: bold;
}

/* content */
.content {
  width: 100%;
  background-color: #ddd;
  padding: 4%;
}

.content h1 {
  letter-spacing: 5pt;
}

.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.html {
  width: 90%;
  padding: 1%;
  background-color: #518874;
}

.english {
  width: 60%;
  padding: 1%;
  background-color: #62b1f1;
}

.arabic {
  width: 70%;
  padding: 1%;
  background-color: #fa7268;
}

.game {
  width: 30%;
  padding: 1%;
  background-color: #a0a0a0;
}

/* GALLERY */
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* CONTACT */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 15%;
  margin-top: 5%;
}

.text {
  text-align: center;
  margin-top: 5%;
}

/* HERO JUMBOTRON */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg");
  background-position: center;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 50px;
  letter-spacing: 5pt;
  color: white;
}

.jumbotron a{
  background-color: teal;;
}

.jumbotron a:hover {
  color: black;
}

.jumbotron p {
  font-size: 20px;
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.col {
  margin-bottom: 30%;
}


/* content */
.content-3-1 .btn:focus,
.content-3-1 .btn:active {
  outline: none !important;
}

.content-3-1 {
  padding: 5rem 2rem;
}

.content-3-1 .img-hero {
  width: 100%;
  margin-bottom: 3rem;
}

.content-3-1 .right-column {
  width: 100%;
}

.content-3-1 .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: -0.025em;
  color: #121212;
}

.content-3-1 .title-caption {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 1.25rem;
  color: #121212;
}

.content-3-1 .circle {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 9999px;
  background-color: teal;
}

.content-3-1 .text-caption {
  font: 400 1rem/1.75rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.content-3-1 .btn-learn {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 2.5rem;
  background-color: #ff7c57;
  transition: 0.3s;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.content-3-1 .btn-learn:hover {
  background-color: #ff9779;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .content-3-1 .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
  }
}

@media (min-width: 992px) {
  .content-3-1 .img-hero {
    width: 50%;
    margin-bottom: 0;
  }

  .content-3-1 .right-column {
    width: 50%;
  }

  .content-3-1 .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}

/* footer */
footer {
  background: teal;
  padding-top: 50px;
  padding-bottom: 70px;
}

footer .logo {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #fafafd;
}

footer .social-media {
  margin-top: 55px;
}

footer .copyright {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #fafafd;
  margin-top: 20px;
}

footer .nav-footer p {
  font-weight: 700 !important;
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer .nav-footer a {
  font-weight: 400 !important;
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer li {
  margin-bottom: 16px;
}
